<section class="form-section">
  <form (ngSubmit)="submitLogin()" [formGroup]="loginForm" novalidate>
    <mat-grid-list cols="1" rowHeight="80">
      <mat-grid-tile>
        <mat-form-field hintLabel="Hint: Enter your email address.">
          <mat-label>Your Email</mat-label>
          <input
            type="email"
            id="email"
            matInput
            formControlName="email"
            placeholder="E.g. pat@example.com"
          />
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="email.touched && email.invalid">
            <span *ngIf="email.errors.email && !email.errors.required">
              Email must be <strong> valid </strong>
            </span>
            <span *ngIf="email.errors.required">
              Email is <strong>required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field hintLabel="Hint: Enter your password.">
          <mat-label>Your Password</mat-label>
          <input
            type="password"
            id="password"
            matInput
            formControlName="password"
            placeholder="5 or more characters"
          />
          <mat-icon matSuffix>visibility_off</mat-icon>
          <mat-hint align="end"> {{ password.value?.length }}/5</mat-hint>
          <mat-error *ngIf="password.touched && password.invalid">
            <span
              *ngIf="password.errors.minlength && !password.errors.required"
            >
              Password must have <strong> 5 or more </strong> characters.
            </span>
            <span *ngIf="password.errors.required">
              Password is <strong>required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!loginForm.valid"
        >
          LOGIN
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</section>
