<section class="form-section">
  <form (ngSubmit)="submitSignup()" [formGroup]="signupForm" novalidate>
    <mat-grid-list cols="1" rowHeight="80">
      <mat-grid-tile>
        <mat-form-field hintLabel="Hint: Enter your Nickname.">
          <mat-label>Your Nickname</mat-label>
          <input
            type="text"
            id="nickname"
            matInput
            formControlName="nickname"
            placeholder="E.g. Rob"
          />
          <mat-icon matSuffix>face</mat-icon>
          <mat-hint align="end"> {{ nickname.value?.length }}/3</mat-hint>
          <mat-error *ngIf="nickname.touched && nickname.invalid">
            <span
              *ngIf="nickname.errors.minlength && !nickname.errors.required"
            >
              Nickname must have <strong> 3 or more </strong> characters.
            </span>
            <span *ngIf="nickname.errors.required">
              Nickname is <strong>required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field hintLabel="Hint: Enter your email address.">
          <mat-label>Your Email</mat-label>
          <input
            type="email"
            id="email"
            matInput
            formControlName="email"
            placeholder="E.g. pat@example.com"
          />
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="email.touched && email.invalid">
            <span *ngIf="email.errors.email && !email.errors.required">
              Email must be <strong> valid </strong>
            </span>
            <span *ngIf="email.errors.required">
              Email is <strong>required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field hintLabel="Hint: Enter your password.">
          <mat-label>Your Password</mat-label>
          <input
            type="password"
            id="password"
            matInput
            formControlName="password"
            placeholder="5 or more characters"
          />
          <mat-icon matSuffix>visibility_off</mat-icon>
          <mat-hint align="end"> {{ password.value?.length }}/5</mat-hint>
          <mat-error *ngIf="password.touched && password.invalid">
            <span
              *ngIf="password.errors.minlength && !password.errors.required"
            >
              Password must have <strong> 5 or more </strong> characters.
            </span>
            <span *ngIf="password.errors.required">
              Password is <strong>required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field hintLabel="Hint: Enter your date of birth.">
          <mat-label>Select date of birth</mat-label>
          <input
            matInput
            id="date"
            formControlName="date"
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
          />

          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="date.touched && date.invalid">
            <span *ngIf="date.invalid && !date.errors.required">
              Must be between years
              <strong>{{ minDate.getFullYear() }}</strong> -
              <strong>{{ maxDate.getFullYear() }}</strong>
            </span>
            <span *ngIf="date.errors.required">
              Date of birth is <strong>required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox id="agreement" formControlName="agreement"
          >I agree to terms & conditions</mat-checkbox
        >
      </mat-grid-tile>
      <mat-grid-tile>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!signupForm.valid || !agreement.value"
        >
          SIGNUP
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</section>
