<mat-grid-list cols="1" rowHeight="600">
  <mat-grid-tile>
    <mat-card class="welcome-card">
      <img
        mat-card-image
        src="../../assets/images/task-organizer.png"
        alt="My Task Organizer"
      />
      <mat-card-content>
        <p>
          My Task Organizer is a great way to record and manage your everyday
          tasks. You can see your daily, weekly and monthly task list to help
          you be organized.
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button
          mat-raised-button
          color="primary"
          align="start"
          [routerLink]="['/login']"
        >
          LOGIN
        </button>
        <button
          mat-raised-button
          color="accent"
          align="end"
          [routerLink]="['/signup']"
        >
          SIGNUP
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
