<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>task</mat-icon>
  </button>
  <span>My Task Organizer</span>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['/signup']" *ngIf="!isAuthorized">
    <mat-icon>app_registration</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/login']" *ngIf="!isAuthorized" >
    <mat-icon>login</mat-icon>
  </button>
  <!--  To Do add action to logout -->
  <button mat-icon-button (click)="onLogOut()" [routerLink]="['/login']" *ngIf="isAuthorized">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
